.model-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .45);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.model {
  width: 520px;
  background: white;
  padding: 35px;
  border-radius: 15px;
  box-shadow: 0 10px 35px rgba(0, 0, 0, .2);

}

.model h2 {
  margin-top: 0;
  text-align: center;
  color: #003366;
}

.model input {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #cccccc;

}

.model select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;

}

.model-buttons {
  display: flex;
  justify-content: space-between;

}

.blue-btn {
  width: 45%;
  background: #0462ba;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;

}

.gray-btn {
  width: 45%;
  background: #cccccc;
  border: none;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;

}

.blue-btn:hover {
  background: #0455a0;
}

.gray-btn:hover {
  background: #d1d5db;
}

.password-box {
  position: relative;
  margin-bottom: 15px;

}

.password-box input {
  width: 100%;
  padding-right: 55px;

}

.eye-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.eye-button:hover {
  transform: translateY(-50%) scale(1.1);
}